/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom styles */
body {
    font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    
    margin: auto;
}
.header {
    background-color: rgb(7,21,76);
    padding: 20px;
}
.nav {
    text-align:center ;
}
.nav a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}
h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}
.box {
    width: 150px;
    height: 150px;
    background-color: rgb(153,216,202);
    margin: auto;
    border:10px solid rgb(88,115,226);
    outline: 5px solid black;
    box-shadow: 0 0 0 20px rgb(144,255,169);
    margin-top: 30px;
    border-radius: 6px;
}
.colors {
    margin-top: 40px;
    text-align: center;
}
.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #99D8CA;
    display: inline-block;
    border: 1px solid black;
    /* margin-top: 10px; */
    /* margin-right: 6px; */
}
.blue {
    background-color: #0D1430;
}
.black {
    background-color: #90FFA9;
}
.green1 {
    background-color: #5873E2;
}
.colors span {
    font-size: 18px;
    margin-right: 10px;
}
.line {
    width: 80%;
    border: 1px dotted grey;
    margin-top: 30px;
}
.threeboxes {
    width: 660px;
    border: 2px solid grey;
    margin:30px 180px;
    box-sizing: border-box;
    display: inline-flex;
    /* display: inline-block; */
}
.recbox {
    width: 200px;
    height: 180px;
    margin: 10px;
    background-color: rgb(218,224,250);
    /* display: inline-block; */
}
.recbox1 {
    width: 200px;
    height: 180px;
    margin: 10px;
    border: 2px solid black;
    background-color: rgb(218,224,250); 
}
.image {
    width: 300px;
    height: 250px;
    margin-left: 150px;
    margin-top: 30px;
}
h5 {
    font-size: 20px;
    margin-top: 20px;
    width: 400px;
}
.readmore {
    font-size: 13px;
    background-color: rgb(25,187,61);
    /* display: inline-block; */
    width: 80px;
    height: 20px;
    border-radius: 20px;
    /* padding-top: 3px;
    padding-left: 15px; */
    color: white;
    margin-left: 10px;
    margin-top: 13px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 1px;
}
.photoarticle {
    display: inline-flex;
}
.article {
    width: 300px;
    background-color: 1px solid red;
    margin-left: 10px;
    line-height: 1.3;
}
.container1 {
    width: 70%;
    margin: auto;
    
}
.article1 {
    width: 300px;
    line-height: 1.3;
    margin-left: 160px;
    margin-bottom: 10px;
}
.learn {
    color: rgb(25,187,61);
    margin-left: 160px;
}
h4 {
    font-size: 17px;
    margin-top: 10px;
}
.container2 {
    display: inline-flex;

}
.image1 {
    width: 300px;
    height: 250px;
    margin-top: 30px;
    margin-left: 5px;
}
.article2 {
    width: 300px;
    line-height: 1.3;
    margin-left: 5px;
}
.learnmore {
    color: rgb(25,187,61);
    margin-top: 10px;
    margin-left: 5px;

}
.nav .home {
    color: green;
}
.nav .blog {
    color: green;
}
.head {
    color: #0D1430;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 17px;
}








    
    



